-
  let titlePage = 'Temporal para todas las paginas';
  let siteName = 'ESCod';
  let metaDescription = 'Portafolio web, creado con pug y sass'
  let currentPage = 'Inicio'
  let fecha = new Date();
  let anio = fecha.getFullYear();
  let register = "<span>&#169</span>";
  let arrayMenu = ['home', 'about', 'services', 'portfolio', 'contact']
  let arrayMenuIndicate = ['Inicio', 'Sobre mi', 'Servicios', 'Portafolio', 'Contactame']

