footer.footer
  .footer__container.bd-container
    h2.footer__title Ronaldo Sic
    p.footer__description Soy Ronaldo Sic y esto es mi sitio web personal.
    .footer__social
      a.footer__link(href="https://www.linkedin.com/in/ronaldo-sic-40327518b/"): i.bx.bxl-linkedin    
      a.footer__link(href="https://github.com/RonaldoSic"): i.bx.bxl-github
    p.footer__copy!=`${register}ESCod. All right reserved. ${anio}`
    //- &#169; ESCod. All right reserved.