footer.footer
  .footer__container.bd-container
    h2.footer__title Ronaldo Sic
    p.footer__description Soy Ronaldo Sic y esto es mi sitio web personal.
    .footer__social
      a.footer__link(href="#"): i.bx.bxl-linkedin    
      a.footer__link(href="#"): i.bx.bxl-github
    p.footer__copy &#169; ESCod. All right reserved.