//Colores
$firstColor: #3d3d3d;
$firstColorDark:#181818;
$textColor:#4b4a4a;
$firstColorLight:#7b6f71;
$firstColorLighten:#fbf9f9;
$colorBtn: #3e0312;
$colorTextClientes: #b9e7fc;


// $firstColor: #3e0312;
// $firstColorDark:#2f0a0d;
// $textColor:#534748;
// $firstColorLight:#7b6f71;
// $firstColorLighten:#fbf9f9;