$bodyFont: 'Ubuntu', sans-serif;
$biggestFontSize: 2.5rem;
$h1FontSize:1.5rem;
$h2FontSize:1.25rem;
$h3FontSize:1.123rem;
$normalFontSize:.938rem;
$smallFontSize:.813rem;
$smallerFontSize:.75rem;
// Font weight
$fontRegular:400;
$fontMedium:500;
$fontBold:700;
// Margenes and Paddings
$headerHeight:3rem;
// Margenes
$mb1: .5rem;
$mb2: 1rem;
$mb3: 1.5rem;
$mb4: 2rem;
$mb5: 2.5rem;
$mb6: 3rem;

// zIndex
$zNormal: 1;
$zTooltip: 10;
$zFixed: 100;
