/*Reset html*/
@import "resetHtml";
// Colores
@import "colors";
// Font and typography
@import "fontAndTipography";
/*Css base*/
html {
  scroll-behavior: smooth;
}
body {
  margin: $headerHeight 0 0 0;
  font: {
    family: $bodyFont;
    size: $normalFontSize;
    weight: $fontRegular;
  }
  background: {
    color: $firstColorLighten;
  }
  color: $textColor;
  line-height: 1.3;
}
// Class CSS About
.section {
  padding: 4rem 0 2rem;
}
.section-title,
.section-subtitle {
  text-align: center;
}
.section-title {
  font-size: $h1FontSize;
  color: $firstColor;
  margin-bottom: $mb3;
}
.section-subtitle {
  display: block;
  font: {
    size: $smallerFontSize;
    weight: $fontMedium;
  }
}
// Layout
.bd-container {
  max-width: 1024px;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}
.bd-grid {
  display: grid;
  gap: 1.5rem;
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $zFixed;
  background-color: #000;
}

// NAV
.nav {
  height: $headerHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding-top: 1.5rem;
    text-align: center;
    background-color: #000;
    transition: 0.4s;
    box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.1);
    border-radius: 0 0 1rem 1rem;
  }
}

.nav__item {
  margin-bottom: $mb3;
}
.nav__link {
  color: $firstColorLighten;
  transition: 0.3s;
}
.nav__link:hover {
  color: $firstColorLight;
}
.nav__logo,
.nav__toggle {
  color: $firstColorLighten;
}
.nav__toggle {
  font-size: 1.3rem;
  cursor: pointer;
}

// SHOW MENU
.show-menu {
  top: $headerHeight;
}

// ACTIVE MENU
.active-link {
  position: relative;
}
.active-link::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: $firstColorLight;
}

// Change backgroun header
.scroll-header {
  background-color: $firstColorLighten;
  box-shadow: 0 2px 4px rgba($color: #000000, $alpha: 0.1);
}
.scroll-header .nav__logo,
.scroll-header .nav__toggle,
.scroll-header .nav__link {
  color: $firstColorDark;
}
.scroll-header .nav__menu {
  background-color: $firstColorLighten;
}

// Scroll Top
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgba($color: #313131, $alpha: 0.7);
  z-index: $zTooltip;
  transition: 0.4s;
  visibility: hidden;
}
.scrolltop:hover {
  background-color: $firstColor;
}
.scrolltop__icon {
  font-size: 2rem;
  color: $firstColorLighten;
}

// Show scroll top
.show-scroll {
  visibility: visible;
  bottom: 1.5rem;
}

// Home
.home {
  background-color: #000;
  overflow: hidden;
}
.home__container {
  position: relative;
  height: calc(100vh - 3rem);
  grid-template-rows: repeat(2, max-content);
  align-content: space-around;
  row-gap: 2rem;
}
.home__data {
  border-left: 4px solid $firstColorLighten;
  color: $firstColorLighten;
  padding-left: 1.5rem;
  z-index: $zTooltip;
}
.home__name {
  font-size: $biggestFontSize;
}
.home__greeting,
.home__profession {
  display: block;
  font-weight: $fontBold;
}
.home__greeting {
  font-size: 0.813rem;
}
.home__profession {
  font-size: 0.938rem;
  margin-bottom: $mb3;
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
}
.home__img img {
  width: 240px;
}
.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: max-content;
  font-size: 1.3rem;
  margin-bottom: $mb2;
  color: $firstColorLighten;
}
.home__social-icon:hover {
  color: $firstColorLight;
}

// Buttons
.button {
  margin: 0.75rem;
  display: inline;
  background-color: $colorBtn;
  color: $firstColorLighten;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  transition: 0.3s;
}
.button-light {
  background: none;
  border: 1px solid #fff;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0;
}
.button-light:hover {
  border: 1px solid #72bffa;
}
.button-white {
  background-color: $firstColorLighten;
  color: $firstColorDark;
}
.button-white:hover {
  background-color: $firstColorLighten;
}
.button-link {
  background: none;
  color: $firstColor;
  padding: 0;
  margin: 0;
}
.button-link:hover {
  background: none;
}

// About
.about__data {
  text-align: center;
}
.about__description {
  text-align: left;
}
.about__description span {
  font-size: $h2FontSize;
  font-weight: $fontMedium;
  color: $firstColor;
}
.about__number {
  font-size: $h1FontSize;
  color: $firstColor;
  display: block;
}
.about__img {
  justify-self: center;
  widows: 220px;
  border-radius: 0.5rem;
  background-color: #f3f3f3;
}

// Calificacion
.qualification__containder {
  row-gap: 2.5rem;
}
.qualification__title {
  font-size: $h2FontSize;
  color: $firstColor;
  margin-bottom: $mb2;
  display: flex;
  align-items: center;
}
.qualification__title-icon {
  font-size: 1rem;
  margin-right: $mb1;
}
.qualification__box {
  padding-bottom: 1rem;
  border-bottom: 0.5px solid #bababa81;
}
.qualification__area {
  font-size: $fontRegular;
  color: $firstColor;
  margin-bottom: $mb1;
  font-weight: $fontMedium;
}
.qualification__icon,
.qualification__work {
  font-size: $smallerFontSize;
  color: $firstColorLight;
}
.qualification__work {
  display: block;
}

// Servicios
.services__data {
  padding: 3rem 1rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 4px 6px rgba($color: #8a8a8a, $alpha: 0.3);
}
.services__icon,
.services__title {
  margin-bottom: $mb2;
  color: $firstColorLight;
}
.services__icon {
  font-size: 3rem;
}
.services__title {
  font-size: $h3FontSize;
}
.services__description {
  margin-bottom: $mb4;
}
.services__data:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 6px 8px rgba($color: #838383, $alpha: 0.4);
}
// Proyectos en mente
.project__container {
  padding: 1.5rem 1rem;
  background-color: $firstColorDark;
  color: $firstColorLighten;
  border-radius: 0.5rem;
  text-align: center;
}
.project__icon,
.project__title {
  margin-bottom: $mb1;
}
.project__icon {
  font-size: 3.5rem;
}
.project__title {
  font-size: 1.5rem;
}
.project__description {
  margin-bottom: $mb4;
}

// Portafolio
.portfolio__nav {
  text-align: center;
  margin-bottom: $mb3;
}
.portfolio__item {
  margin: 0 0.3rem;
  cursor: pointer;
}
.portfolio__content {
  background-color: #fff;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba($color: #888888, $alpha: 0.3);
}
.portfolio__img {
  width: 100%;
  transition: 0.4s;
}
.portfolio__data {
  padding: 1.5rem;
}
.portfolio__subtitle {
  font-size: $smallFontSize;
  color: $firstColorLight;
}
.portfolio__title {
  font-size: $h3FontSize;
  color: $firstColor;
  margin: $mb2 0;
}
.portfolio__content:hover {
  box-shadow: 0 6px 8px rgba($color: #8f8f8f, $alpha: 0.4);
}
.portfolio__content:hover .portfolio__img {
  transform: scale(1.02);
}

// Active menu portfolio
.active-portfolio {
  color: $firstColorDark;
  font-weight: $fontMedium;
}

// Testimonios
.testimonial__content {
  display: grid;
  background-color: $firstColorDark;
  color: $firstColorLighten;
  border-radius: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  box-shadow: 0 4px 5px rgba($color: #2f0a0d, $alpha: 0.25);
}
.testimonial__img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: $mb1;
}
.testimonial__title {
  color: #c5c9e9;
}
.testimonial__client {
  font-size: $smallFontSize;
  color: $colorTextClientes;
  margin-bottom: $mb2;
}
.testimonial__description {
  color: #999999;
}
.swiper-pagination {
  position: initial !important;
}
.swiper-pagination-bullet-active {
  background-color: $firstColor !important;
}
// Contactame
.contact__container {
  row-gap: 2.5rem;
}
.contact__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.contact__box {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba($color: #aebecd, $alpha: 0.3);
}
.contact__icon,
.contact__title {
  color: $firstColor;
  // color: #72bffa;
}
.contact__icon {
  font-size: 2rem;
}
.contact__title {
  font-size: $h3FontSize;
  margin: $mb1 0;
}

.contact__social {
  color: $firstColorLight;
  font-size: 1.5rem;
  margin: 0 $mb1;
}
.contact__box:hover {
  box-shadow: 0 6px 8px rgba($color: #aebecd, $alpha: 0.4);
}

.contact__inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
}
.contact__input,
.contact__button {
  outline: none;
  font-family: $bodyFont;
  font-size: $normalFontSize;
}
.contact__input {
  width: 100%;
  padding: 0.4rem;
  border: 0.5px solid $firstColorLight;
  border-radius: 0.5rem;
  margin-bottom: $mb1;
}
.contact::placeholder {
  color: $firstColorLight;
  font-family: $bodyFont;
  font-weight: $fontMedium;
}
.contact__button {
  cursor: pointer;
  border: none;
}
.form__container {
  text-align: center;
}

// Footer
.footer {
  background-color: $firstColorDark;
  color: $firstColorLighten;
  text-align: center;
}
.footer__container {
  padding: 3rem 0;
}
.footer__title {
  font-size: $h2FontSize;
  margin-bottom: $mb1;
  font-weight: $fontMedium;
}
.footer__description {
  margin-bottom: $mb3;
}
.footer__social {
  margin-bottom: $mb6;
}
.footer__link {
  font-size: 1.4rem;
  color: $firstColorLighten;
  margin: 0 $mb1;
  transition: 0.3s;
}
.footer__link:hover {
  color: $firstColorLight;
}
.footer__copy {
  font-size: $smallerFontSize;
  color: $firstColorLight;
}

// Media Query
@media screen and (min-width: 576px) {
  .home__img img {
    width: 330px;
  }
  .about__container,
  .qualification__container,
  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .form__container {
    width: 450px;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 6rem;
  }
  .section-title {
    margin-bottom: $mb5;
  }
  .nav {
    height: calc(3rem + 1.5rem);
  }
  .nav__list {
    display: flex;
  }
  .nav__item {
    margin-left: $mb5;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }

  .home__container {
    height: 100vh;
    grid-template-rows: max-content 0.5fr;
    align-content: flex-end;
  }
  .home__greeting {
    font-size: 1.25rem;
  }
  .home__profession {
    font-size: 2rem;
  }
  .home__social {
    flex-direction: row;
    align-items: center;
  }
  .home__social-icon {
    margin-right: $mb4;
    margin-bottom: 0;
  }
  .home__img img {
    width: 560px;
  }

  // About
  .about__description {
    text-align: initial;
  }
  .about__img {
    width: 300px;
  }
  // Calificaiones
  .qualification__box {
    display: flex;
    justify-content: space-between;
  }
  .services__container,
  .portfolio__container {
    grid-template-columns: repeat(3, 1fr);
  }
  // Proyectos
  .project {
    // justify-self: center;
    display: flex;
    justify-content: center;
  }
  .project__container {
    padding: 4.5rem 0;
    width: 80%;
  }
  .project__icon {
    font-size: 4rem;
  }
  .project__title {
    font-size: 2.5rem;
  }
  .project__description {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 1024px) {
  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }
  .qualification__containder {
    column-gap: 6rem;
  }
}
