extends ../includes/template
//- block title 
//-   | About us page
append config 
  - pageTitle = 'Sobre nosotros'
block content   
  p Bienvenidos a la primera pagina web en pug
block footer
  h3 ESCod
